.container {
  position: relative;
}

.followMeBar {
  position: relative;
  z-index: 3 !important;
  color: #fff;
}
.followMeBar div:first-child {
  background: #e64a19;
}
.followMeBar div {
  padding: 20px;
}
.followMeBar.fixed.first {
  z-index: 5 !important;
  top: 0 !important;
}
.followMeBar.fixed {
  position: fixed;
  width: 100%;
  /*top: 260px !important;*/
  box-sizing: border-box;
  z-index: 0;
}

.followMeBar.fixed.absolute {
  position: absolute;
}
#output {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  z-index: 6 !important;
  background-color: #eee;
  padding: 10px;
  border: 5px solid #ccc;
}
#output ul {
  margin: 0;
  padding: 0 0 0 20px;
}
#output li {
  margin: 0 0 8px 0;
}
#output li hr {
  height: 1px;
  border-bottom: 1px solid #ddd;
  margin: 0 0 2px 0;
}
#top-line {
  position: absolute;
  border: none;
  border-top: 2px dashed greenyellow;
  color: #fff;
  background-color: transparent;
  height: 1px;
  z-index: 10 !important;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* For aesthetics only ------------------------------------------------------------------*/

body {
  margin: 0;
}

h1 {
  font: 200 1.2em "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-weight: 200;
  color: #fff;
  background: #039be4;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid #ccc;
}

.header {
  background-color: white;
  z-index: 2 !important;
  padding: 20px;
}

p {
  color: #454545;
}
